{% load static %}

<nav class="navbar header-navbar pcoded-header">
    <div class="navbar-wrapper">
        <div class="navbar-logo">
            <a class="mobile-menu" id="mobile-collapse" href="#!">
                <i class="ti-menu"></i>
            </a>
            <div class="mobile-search">
                <div class="header-search">
                    <div class="main-search morphsearch-search">
                        <div class="input-group">
                            <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                            <input type="text" class="form-control" placeholder="Enter Keyword">
                            <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <a href="dashboard.html">
                <strong style="font-size: 20px;">BPMS</strong>
            </a>
            <a class="mobile-options">
                <i class="ti-more"></i>
            </a>
        </div>

        <div class="navbar-container container-fluid">
            <ul class="nav-left">
                <li>
                    <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                </li>
             
                <li>
                    <h4 style="color: white;padding-top: 20px;">Welcome &nbsp;{{user.first_name}}&nbsp;{{user.last_name}}</h4>
                </li>
            </ul>
            <ul class="nav-right">
             
                
                <li class="user-profile header-notification">
                    <a href="#!">
                        <img src="{% static 'assets/images/avatar-4.jpg'%}" class="img-radius" alt="User-Profile-Image">
                        <span>{{user.first_name}}&nbsp;{{user.last_name}}</span>
                        <i class="ti-angle-down"></i>
                    </a>
                    <ul class="show-notification profile-notification">
                        <li>
                            <a href="{% url 'change_password' %}">
                                <i class="ti-settings"></i> Settings
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'profile' %}">
                                <i class="ti-user"></i> Profile
                            </a>
                        </li>
                       
                        <li>
                            <a href="{% url 'logout' %}">
                            <i class="ti-layout-sidebar-left"></i> Logout
                        </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>